# Heart Disease Predictive Model

In [362]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import tensorflow as tf

In [363]:
heart_data = pd.read_csv('D:/heart.csv')

In [364]:
heart_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [307]:
heart_data.shape

(303, 14)

In [308]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [309]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [310]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [311]:
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [312]:
X=heart_data.drop('target',axis="columns")
y=heart_data["target"]

In [313]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [314]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [315]:
print(X.shape)

(303, 13)

In [316]:
from keras.utils import to_categorical

In [317]:
y=to_categorical(y)
y.shape

(303, 2)

# Specify the architecture

In [349]:
from keras.layers import Dense
from tensorflow.keras.models import Sequential

In [319]:
model=Sequential()

In [341]:
model.add(Dense(102, activation='relu',input_shape=(13,)))
model.add(Dense(13, activation='relu'))
model.add(Dense(2, activation='softmax'))

# Compiling the model

In [342]:
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

# Training the model

In [343]:
model.fit(X, y, epochs=20)

Epoch 1/20
10/10 [==============================] - 1s 1ms/step - loss: 0.6680 - accuracy: 0.5710
Epoch 2/20
10/10 [==============================] - 0s 1ms/step - loss: 0.6291 - accuracy: 0.7657
Epoch 3/20
10/10 [==============================] - 0s 1ms/step - loss: 0.5953 - accuracy: 0.7822
Epoch 4/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5820 - accuracy: 0.7657
Epoch 5/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5410 - accuracy: 0.7921
Epoch 6/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5329 - accuracy: 0.7657
Epoch 7/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5288 - accuracy: 0.7723
Epoch 8/20
10/10 [==============================] - 0s 2ms/step - loss: 0.4872 - accuracy: 0.7921
Epoch 9/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5068 - accuracy: 0.7591
Epoch 10/20
10/10 [==============================] - 0s 2ms/step - loss: 0.4379 - accuracy: 0.8152
Epoch 11/20
10/10 [==============================] - 0s 1ms/step - loss: 0.4244 - accuracy: 0.8284
Epoch 12/20
10/10 [==============================] - 0s 1ms/step - loss: 0.4378 - accuracy: 0.8086
Epoch 13/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5236 - accuracy: 0.7558
Epoch 14/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5476 - accuracy: 0.7426
Epoch 15/20
10/10 [==============================] - 0s 2ms/step - loss: 0.4379 - accuracy: 0.7987
Epoch 16/20
10/10 [==============================] - 0s 2ms/step - loss: 0.4236 - accuracy: 0.8284
Epoch 17/20
10/10 [==============================] - 0s 2ms/step - loss: 0.4041 - accuracy: 0.8482
Epoch 18/20
10/10 [==============================] - 0s 2ms/step - loss: 0.3924 - accuracy: 0.8416
Epoch 19/20
10/10 [==============================] - 0s 2ms/step - loss: 0.4263 - accuracy: 0.8218
Epoch 20/20
10/10 [==============================] - 0s 2ms/step - loss: 0.4290 - accuracy: 0.8152

In [356]:
preds = model.evaluate(X,y, batch_size=10,verbose=2)
print('Accuracy score : {}'.format(preds[1]))

31/31 - 0s - loss: 0.3980 - accuracy: 0.8119
Accuracy score : 0.8118811845779419

# Testing the model

In [365]:
test_features1=pd.DataFrame({"age":[63], "sex": [1], "cp":[3], "trestbps":[145], "chol":[233], "fbs":[1], "restecg":[0], "thalach":[150], "exang":[0], "oldpeak":[2.3], "slope":[0], "ca":[0], "thal":[1]})
test_features2=pd.DataFrame({"age":[54], "sex": [1], "cp":[0], "trestbps":[122], "chol":[286], "fbs":[0], "restecg":[0], "thalach":[116], "exang":[1], "oldpeak":[3.2], "slope":[1], "ca":[2], "thal":[2]})

In [370]:
predictions=model.predict(test_features1)

In [371]:
predictions

array([[0.20868929, 0.7913107 ]], dtype=float32)

In [372]:
predictions[0]

array([0.20868929, 0.7913107 ], dtype=float32)

In [373]:
np.argmax(predictions[0])

1